<!DOCTYPE html>
<html th:replace="~{form/layout/base :: layout(~{::section},~{::title},~{::link},~{::script})}"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <!--bootstrap css-->
    <link th:href="@{/css/baseCss.css}" rel="stylesheet"/>
    <link th:href="@{/css/goods/calculate.css}" rel="stylesheet"/>

    <script type="text/javascript" th:src="@{/js/goods/calculate.js}"></script>
    <title th:text="#{page.calculate}">금시세</title>
</head>

<body>
<section class="row justify-content-center flex-fill">
    <div class="col-lg-8 col-md-10 m-lg-5 m-md-1 m-sm-5 bg-white shadow rounded">

        <div class="text-center m-5 pt-2">
            <span class="fs-2">계산기</span>
        </div>

        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-9 col-md-10 col-sm-10">

                <div class="input-group mb-3">
                    <span class="input-group-text me-5 col-5 justify-content-center" id="goldMarketValueSpan">금 시세(24k 1돈 기준)</span>
                    <input type="text" class="form-control " placeholder="오늘의 시세를 입력해주세요."
                           aria-label="시세" aria-describedby="goldMarketValueSpan" min="0" id="goldMarketValue">
                    <span class="input-group-text col-1 justify-content-center">원</span>
                </div>

                <!--금 종류 & 금 양-->
                <div class="input-group mb-3">
                    <div class="btn-group me-5 col-5" role="group" aria-label="Basic radio toggle button group"
                         id="goldKindGroup">
                        <input type="radio" class="btn-check" name="btnradio" id="goldKind14K" autocomplete="off"
                               value="14" checked>
                        <label class="btn btn-outline-primary" for="goldKind14K">14K</label>

                        <input type="radio" class="btn-check" name="btnradio" id="goldKind18K" autocomplete="off"
                               value="18">
                        <label class="btn btn-outline-primary" for="goldKind18K">18K</label>

                        <input type="radio" class="btn-check" name="btnradio" id="goldKind24K" autocomplete="off"
                               value="24">
                        <label class="btn btn-outline-primary" for="goldKind24K">24K</label>
                    </div>
                    <input type="number" class="form-control " placeholder="금 중량을 입력해주세요." min="0" aria-label=""
                           id="goldMountValue">
                    <span class="input-group-text col-1 justify-content-center">g</span>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text me-5 col-5 justify-content-center" id="gold_wage">공 임</span>
                    <input type="number" class="form-control " placeholder="공임을 입력해주세요."
                           aria-label="공임" aria-describedby="gold_wage" min="0" id="goldWageValue">
                    <span class="input-group-text col-1 justify-content-center">원</span>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text me-5 col-5 justify-content-center" id="gold_margin">마 진</span>
                    <input type="number" class="form-control " placeholder="마진을 입력해주세요."
                           aria-label="마진" aria-descibedby="gold_margin" min="0" id="goldMarginValue">
                    <span class="input-group-text col-1 justify-content-center">원</span>
                </div>

                <div class="d-flex mt-5 mb-3 justify-content-center">
                    <div class="btn-group col-6" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-primary col-5" th:text="#{button.calculate}"
                                id="calculate">
                            Large button
                        </button>
                        <button type="button" class="btn btn-secondary col-5" th:text="#{button.reset}"
                                id="reset">Large button
                        </button>
                    </div>
                </div>

                <div id="alertPosition"></div>

                <div class="mt-5 mb-2 d-none justify-content-center" id="priceTable">
                    <div class="col-8">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col"></th>
                                <th class="text-center" scope="col">중량</th>
                                <th class="text-center" scope="col">카드가</th>
                                <th class="text-center" scope="col">최대할인</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr id="14kTr">
                                <th class="text-center" scope="row">14k</th>
                                <td class="text-center" id="14kMount"></td>
                                <td class="text-center" id="14kStorePrice"></td>
                                <td class="text-center" id="14kPrice"></td>
                            </tr>
                            <tr id="18kTr">
                                <th class="text-center" scope="row">18k</th>
                                <td class="text-center" id="18kMount"></td>
                                <td class="text-center" id="18kStorePrice"></td>
                                <td class="text-center" id="18kPrice"></td>
                            </tr>
                            <tr id="24kTr">
                                <th class="text-center" scope="row">24k</th>
                                <td class="text-center" id="24kMount"></td>
                                <td class="text-center" id="24kStorePrice"></td>
                                <td class="text-center" id="24kPrice"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <div class="form-floating col-8">
                        <textarea class="form-control" placeholder="" id="floatingTextarea"></textarea>
                        <label for="floatingTextarea">메모</label>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>
</body>
</html>