<!DOCTYPE html>
<html th:replace="~{form/layout/base :: layout(~{::section},~{::title},~{::link},~{::script})}"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <!--bootstrap css-->
    <link th:href="@{/css/index.css}" rel="stylesheet"/>
    <link th:href="@{/css/goods/calculate.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/app/index.js}"></script>
    <title th:text="#{page.calculate}">금시세</title>
</head>

<body>
<section class="flex-fill">
    <div class="text-center">
        <span>계산기</span>
    </div>

    <div class="row">
        <div class="col-4">

            <div class="input-group mb-3">
                <span class="input-group-text me-5 col-4 justify-content-center" id="basic-addon2">금 시세(24k 1돈 기준)</span>
                <input type="number" class="form-control" placeholder="오늘의 시세를 입력해주세요."
                       aria-label="시세" aria-describedby="basic-addon2" min="0">
            </div>

            <!--금 종류 & 금 양-->
            <div class="input-group mb-3">
                <div class="btn-group me-5 col-4" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                    <label class="btn btn-outline-primary" for="btnradio1">14K</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2">18K</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio3">24K</label>
                </div>
                <input type="number" class="form-control" placeholder="금 중량을 입력해주세요." min="0" aria-label="">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text me-5 col-4 justify-content-center" id="gold_wage">공 임</span>
                <input type="number" class="form-control" placeholder="공임을 입력해주세요."
                       aria-label="공임" aria-describedby="gold_wage" min="0">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text me-5 col-4 justify-content-center" id="gold_margin">마 진</span>
                <input type="number" class="form-control" placeholder="마진을 입력해주세요."
                       aria-label="마진" aria-descibedby="gold_margin" min="0">
            </div>

        </div>

        <div class="col-4">

        </div>
    </div>

</section>
</body>
</html>