<!DOCTYPE html>
<html th:replace="~{form/layout/base :: layout(~{::section},~{::title},~{::link},~{::script})}"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <!--bootstrap css-->
    <link th:href="@{/css/baseCss.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/app/base.js}"></script>
    <title>윤이네 골동품 가게</title>
</head>

<body>
<section class="row justify-content-center flex-fill">
    <div class="col-lg-8 col-md-10 m-lg-5 m-md-1 m-sm-5 bg-white shadow rounded d-flex align-items-center">
        <div class="col-12">
            <img th:src="@{/image/mainpage.jpg}" class="round col-12"/>
        </div>
    </div>
</section>

</body>
</html>