<!DOCTYPE html>
<html th:replace="~{form/layout/base :: layout(~{::section},~{::title},~{::link},~{::script})}"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <!--bootstrap css-->
    <link th:href="@{/css/baseCss.css}" rel="stylesheet"/>
    <link th:href="@{/css/item/search.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/app/base.js}"></script>
    <script type="text/javascript" th:src="@{/js/item/search.js}"></script>
    <title>제품 검색</title>
</head>

<body>
<section class="row justify-content-center flex-fill">
    <div class="col-lg-8 col-md-10 m-lg-5 m-md-1 m-sm-5 bg-white shadow rounded">

        <div class="text-center m-5 pt-2">
            <span class="fs-2">제품 검색</span>
        </div>

        <form th:object="${itemSearch}" method="get">
            <div class="col-8 input-group mb-3 d-flex justify-content-center">
                <div class="col-8">
                    <input type="text" th:field="*{modelNumber}" class="form-control" placeholder="모델번호를 입력해주세요"
                           aria-label="modelNumber" aria-describedby="searchBtn">
                </div>
                <div class="ms-3">
                    <button class="btn btn-outline-secondary" type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg>
                        검색
                    </button>
                </div>
            </div>
        </form>

        <div>
            <div>
                <span>검색 결과 : </span>
                <span th:text="${searchCount}"></span>
            </div>
            <div th:if="${goldPrice == null}" th:text="'금시세를 먼저 설정해주세요'">
            </div>

            <div th:if="${goldPrice != null}">
                <ul th:each="item : ${items}">
                    <li class="item-list">
                        <div class="item-photo">
                            <img th:src="@{/image/dotoryPhoto/{modelNumber}.jpg (modelNumber=${item.id})}">
                        </div>

                        <a class="item-link"  th:href="@{/items/{id}/edit (id=${item.id})}">
                            <div class="row item-link-div">
                                <div class="item-link-div-content">
                                    <strong th:text="${item.modelNumber}"></strong>
                                    <p class="item-memo" th:if="${item.memo!=null}" th:text="${item.memo}"></p>
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex">
                                            <div class="me-5">
                                                <span>14K 가격 :</span>
                                                <span th:if="${item.basicMount}!=null"
                                                      th:text="${#numbers.formatInteger(item.basicMount * goldPrice +item.sum+ item.margin,0,'COMMA')}">중량을 설정해주세요</span>
                                            </div>
                                            <div>
                                                <span>18K 가격 :</span>
                                                <span th:if="${item.basicMount}!=null"
                                                      th:text="${#numbers.formatInteger(item.basicMount * 1.13 * goldPrice +item.sum+item.margin,0,'COMMA')}">중량을 설정해주세요</span>
                                            </div>
                                        </div>
                                        <div th:if="${item.margin==0}">
                                            <span class="text-danger">*이윤이 0으로 설정되어있습니다.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>


                        <div class="item-button col-6">

                            <div class="hoverPrice shadow rounded-3 p-4" th:id="*{__${item.id}__+'hoverPriceDiv'}">
                                <div class="mb-3">
                                    <h6>공임 비용</h6>
                                    <div>
                                        <span>기본 공임 : </span><span th:id="*{__${item.id}__+'basicWage'}" th:text="${item.basicWage}"></span>
                                    </div>
                                    <div>
                                        <span>중심 공임 : </span><span th:id="*{__${item.id}__+'mainWage'}" th:text="${item.mainWage}"></span>
                                    </div>
                                    <div>
                                        <span>보조 공임 : </span><span th:id="*{__${item.id}__+'supportWage'}" th:text="${item.supportWage}"></span>
                                    </div>
                                </div>
                                <div>
                                    <h6>마진</h6>
                                    <span>마진 : </span><span th:id="*{__${item.id}__+'marginWage'}" th:text="${item.margin}"></span>
                                </div>

                            </div>
                            <div style="padding-left:25px">
                                <button class="btn btn-primary mb-3 priceShow" th:id="*{__${item.id}__+'priceUpdateButton'}"
                                        th:myItemId="${item.id}"
                                        type="button">금액 수정

                                </button>
                                <button class="btn btn-primary copyPhrases" th:id="*{__${item.id}__+'textCopyButton'}"
                                        th:myItemIdCopy="${item.id}"
                                        type="button">문구 복사
                                </button>
                            </div>
                        </div>

                    </li>
                </ul>

                <!-- Modal -->
                <div class="modal fade" id="priceModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content shadow-lg">
                            <div class="modal-header">
                                <div class="d-flex modalTextDiv">
                                    <h5 class="modal-title" id="priceModalLabel"></h5>
                                    <span class="ms-3">-- 금액 수정</span>
                                </div>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <input id="modelId" hidden>
                                <form role="form" class="needs-validation">
                                    <h4 class="mb-3">공임 비용</h4>
                                    <div class="row">
                                        <!----------------------------------------------------->
                                        <div class="col-sm-4">
                                            <label th:for="basicWage" class="form-label">기본 공임</label>
                                            <input type="number" class="form-control" id="basicWage" name="basicWage" placeholder="" required>
                                        </div>
                                        <div class="invalid-feedback">
                                            공임은 필수입니다.
                                        </div>
                                        <!----------------------------------------------------->
                                        <div class="col-sm-4">
                                            <label th:for="mainWage" class="form-label">중심 공임</label>
                                            <input type="number" class="form-control" id="mainWage" name="mainWage" placeholder="" required>
                                        </div>
                                        <div class="invalid-feedback">
                                            공임은 필수입니다.
                                        </div>
                                        <!----------------------------------------------------->
                                        <div class="col-sm-4">
                                            <label th:for="supportWage" class="form-label">보조 공임</label>
                                            <input type="number" class="form-control" id="supportWage" name="supportWage" placeholder="" required>
                                        </div>
                                        <div class="invalid-feedback">
                                            공임은 필수입니다.
                                        </div>

                                    </div>

                                    <hr class="my-4">

                                    <h4 class="mb-3">마진</h4>
                                    <div class="row">
                                        <!----------------------------------------------------->
                                        <div class="col-sm-4">
                                            <label th:for="margin" class="form-label">이윤</label>
                                            <input type="number" class="form-control" id="margin" name="margin" placeholder="" required>
                                        </div>
                                        <div class="invalid-feedback">
                                            이윤은 필수입니다.
                                        </div>
                                    </div>

                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" id="priceChangeButton">수정</button>
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">취소</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal -->

                <div class="m-3 d-flex justify-content-center">
                    <nav th:if="${searchCount} != 0" aria-label="Page navigation example"
                         th:with="start=${((pageNum -1)/5)*5}, end=(${(totalPage  == 0) ? 1 : (start + (4) < totalPage -1 ? start + (4) : totalPage -1)})">
                        <ul class="pagination">
                            <li class="page-item" th:class="${pageNum} eq 1? 'page-item disabled' :'page-item'">
                                <a class="page-link" href="#" th:href="@{/item/search/(pageNum=1,modelNumber=${keyWord})}" aria-label="First">
                                    <span aria-hidden="true">1</span>
                                </a>
                            </li>
                            <li class="page-item" th:class="${pageNum} eq 1? 'page-item disabled' :'page-item'">
                                <a class="page-link" href="#" th:href="@{/item/search/(pageNum=${pageNum}-1,modelNumber=${keyWord})}" aria-label="Previous">
                                    <span aria-hidden="true">&lt;</span>
                                </a>
                            </li>

                            <li th:each="page: ${#numbers.sequence(start, end)}" th:class="${pageNum == page+1}? 'page-item active' : 'page-item'">
                                <a class="page-link" th:href="@{/item/search (pageNum=${page}+1,modelNumber=${keyWord})}" th:text="${page}+1"></a></li>
                            </li>

<!--                            <li th:class="${pageNum == 1}? 'page-item active' : 'page-item'">-->
<!--                                <a class="page-link" href="#" th:text="1"></a></li>-->
<!--                            <li class="page-item"><a class="page-link" href="#" th:text="2"></a></li>-->
<!--                            <li class="page-item"><a class="page-link" href="#" th:text="3"></a></li>-->
<!--                            <li class="page-item"><a class="page-link" href="#" th:text="4"></a></li>-->
<!--                            <li class="page-item"><a class="page-link" href="#" th:text="5"></a></li>-->

                            <li class="page-item" th:class="${pageNum eq totalPage}? 'page-item disabled' : 'page-item'">
                                <a class="page-link" href="#" th:href="@{/item/search/(pageNum=${pageNum}+1,modelNumber=${keyWord})}" aria-label="Next">
                                    <span aria-hidden="true">&gt;</span>
                                </a>
                            </li>
                            <li class="page-item" th:class="${pageNum eq totalPage}? 'page-item disabled' :'page-item'">
                                <a class="page-link" href="#" th:href="@{/item/search/(pageNum=${totalPage},modelNumber=${keyWord})}" aria-label="Last">
                                    <span aria-hidden="true" th:text="${totalPage}"></span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>


            </div>
        </div>

    </div>
</section>
</body>
</html>